<!--The content below is only a placeholder and can be replaced.-->

<h2>Here are some links to help you start: </h2>
<h1>Angular Router</h1>

<app-employee-profile></app-employee-profile>


<!--<table class="table table-hover" border="1" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <td>Employee Id</td>
    <td>Name</td>
    <td>Address</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dt of data">
    <td> <a (click)="alert(dt.employees_ID)" href="#">{{dt.employees_ID}}</a></td>
    <td>{{dt.name}}</td>
    <td>{{dt.address}}</td>
  </tr>
  </tbody>
</table>-->
