<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">

<form [formGroup]="searchForm"  novalidate>
    <table>          
      <tr>
        <td>
          Pickup Location
        </td>
        <td>
          <!--<input type="text" formControlName="pickup_loc" class="form-control">-->
          <select  formControlName="from_loc" class="form-control"  (change)="onChange($event)">
            <option *ngFor="let stop of stops" value='{{stop.id}}'>{{stop.stops_Name}}</option>       
          </select>    
        </td>
      </tr>
      <tr>
        <td>
          Drop Location
        </td>
        <td>
          <!--
          <select  formControlName="drop_loc" class="form-control">
              <option *ngFor="let location of loc" value='{{location.area_latitude}},{{location.area_longitude}}'>{{location.area_name}}</option>       
            </select>
          -->
          <select class="form-control">
              <option value="6">Meenambakkam</option>
              <option value="7">OTA Metro</option>
              <option value="8">Alandur Metro</option>
              <option value="9">Kathipara</option>
              <option value="10">Butt Road</option>
              <option value="11">Butt Road Cantonment</option>
              <option value="12">Nandambakkam</option>
              <option value="13">MIOT Hospital</option>
              <option value="14">DLF Manapakkam</option>
            </select>
            <!--<p *ngFor="let user of stopping_points ">
                 Name: {{user}}
               
               </p>-->
        </td>
      </tr>
      
    </table>
    <button type="submit" class="btn btn-default" >Submit</button>
    </form>
