<!--The content below is only a placeholder and can be replaced.-->


<!--
<select>
  <option value="">--select pickup location--</option>
</select>-->
<!--<h2>Booking Form: </h2>
<app-bookingform></app-bookingform>
-->
<app-routesearch></app-routesearch>