<h2>Book Details</h2>
<!--<ul [ngClass] = "'home'">
  <li *ngFor="let book of books" >
    Id: {{book.id}}, Name: {{book.name}} |
	<a [routerLink]="['/view-detail', book.id]">View Detail</a>
  </li>

</ul>-->
<table class="table table-hover" border="1" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <td>Employee Id</td>
    <td>Name</td>
    <td>Address</td>
    <td>View Detail</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dt of users | async">
    <!--<td> <a (click)="alert(dt.employees_ID)" href="#">{{dt.employees_ID}}</a></td>-->
    <td> {{dt.employees_ID}}</td>
    <td>{{dt.name}}</td>
    <td>{{dt.address}}</td>
    <td><a [routerLink]="['/view-detail', dt.employees_ID]">View Detail</a></td>
  </tr>
  </tbody>
</table>


