<h2>View Detail</h2>
<ul [ngClass] = "'view-detail'">
  <li>
    Id: <!--{{users.employees_ID}}-->
  </li>
  <li>
    Name: <!--{{users.name}}-->
  </li>
  <li>
    Price: <!--{{users.address}}-->
  </li>
  <li>
    Description: <!--{{book.description}}-->
  </li>
</ul>
<div>
 <button (click)="goBack()">Go Back</button>
 <button (click)="updateBook(book.id)">Update</button>
</div>
<div>
 <a [routerLink]="['/buy-book']">Buy Book</a>
</div>
