
<router-outlet>
  <nav>
    <a routerLink="" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/employee" routerLinkActive="active">Heroes</a>
   <!--<a (click)="navigate()" href="#" routerLinkActive="active">Heroes</a>-->

  </nav>

</router-outlet>

<!--<table class="table table-hover" border="1" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <td>Employee Id</td>
    <td>Name</td>
    <td>Address</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dt of data">
    <td> <a (click)="alert(dt.employees_ID)" href="#">{{dt.employees_ID}}</a></td>
    <td>{{dt.name}}</td>
    <td>{{dt.address}}</td>
  </tr>
  </tbody>
</table>-->
