<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<form [formGroup]="loginForm"  novalidate (ngSubmit)="onSubmit()">
<table>
  <tr>
    <td>
      Name
    </td>
    <td>
      <input type="text" formControlName="cust_name" class="form-control">
    </td>
  </tr>
  <tr>
    <td>
      Mobile
    </td>
    <td>
      <input type="text" formControlName="cust_mob" class="form-control">
    </td>
  </tr>
  <tr>
    <td>
      Pickup Location
    </td>
    <td>
      <!--<input type="text" formControlName="pickup_loc" class="form-control">-->
      <select  formControlName="pickup_loc" class="form-control">
        <option *ngFor="let location of loc" value='{{location.area_latitude}},{{location.area_longitude}}'>{{location.area_name}}</option>       
      </select>

    </td>
  </tr>
  <tr>
    <td>
      Drop Location
    </td>
    <td>
      <!--<input type="text" formControlName="drop_loc" class="form-control">-->
      <select  formControlName="drop_loc" class="form-control">
          <option *ngFor="let location of loc" value='{{location.area_latitude}},{{location.area_longitude}}'>{{location.area_name}}</option>       
        </select>
    </td>
  </tr>
  <tr>
    <td>
     Cab Model
    </td>
    <td>
      <select class="form-control" formControlName="cab_model">
        <option value="Micro">Micro</option>
        <option value="Mini">Mini</option>
        <option value="Prime">Prime</option>
      </select>
    </td>
  </tr>  
</table>
<button type="submit" class="btn btn-default" >Submit</button>
</form>

<!--
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
-->

<!--
<ul>
    <li *ngFor="let device of data">
      {{ device.cab_lat}}
    </li>
  </ul>
-->

  <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker class="mapMarker" *ngFor="let device of data"  [latitude]="device.cab_lat" [longitude]="device.cab_lng" [iconUrl]="'../assets/marker2.png'">
      </agm-marker>
  </agm-map>